@import '../common/color.scss';
.detail-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  .detail-box {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    h1 {
      font-size: 40px;
      margin: 50px 0;
    }
    div {
      width: 100%;
      margin-bottom: 20px;
      .detail-description,
      .detail-tags,
      .detail-done {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      span {
        margin-right: 15px;
      }
    }
    .btn-box {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      button {
        width: 100px;
        font-size: 18px;
        background: none;
        color: #{$oldPink};
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 10px;
        font-weight: bold;
      }
      button:hover {
        background: #{$oldPink};
        color: #fff;
      }
    }
  }
}
